.image_size {
    height: 100px;
    width: 100px;
}
.top-60 {
    margin-top: 60px;
}
.top-100 {
    margin-top: 100px;
}
.top-10 {
    margin-top: 10px;
}
.top-60 {
    margin-top: 60px;
}

.left-10 {
    margin-left: 10px;
}
.score {
    float: right;
}
.date_test {
    padding-left: 50px;
}
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.content {
    background-color: #1FA67A;
}

.footer {
    background-color: #313233;
    padding: 10px 0;
    color: #fff;
}

.category {
    min-height: 603px;
    background-color: #fff;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    font-size: 32px;
    color: #444;
    border-bottom: 1px solid #eee;
}
li.list-item > div {
    display: inline-block;
}

li.list-item > .btn-show-follow {
    float: right;
}

li.list-item > .name {
    width: 200px;
    padding-left: 30px;
}

li.list-item > .email {
    width: 100px;
}

.btn-follow {
    border: 0px;
    padding: 10px 10px;
    width: 90px;
    background-color: #e05f22;
    color: #fff;
}

.btn-following {
    background-color: #1FA67A;
}

.show-clock {
    position: fixed !important;
    left: 855px;
    top: 80px;
}

a.category-item {
    color: #1FA67A;
}
a:hover.category-item {
    color: #20614b;
}
.padding-top {
    padding-top: 30px;
}
.title {
    color: #d26666;
}
.description {
    font-size: 30px;
}
.border-bottom {
    border-bottom: 1px solid #d0c5c5;
    margin-bottom: 10px;
}
.header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin-bottom: 0px;
}

.header a.navbar-brand {
    color: #1FA67A;
    padding: 20px 20px;
    font-size: 30px;
}

.header a:hover.navbar-brand {
    color: #1FA67A;
}

.header ul li a.active {
    background-color: #1FA67A;
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #1FA67A;
    color: #fff;
}
.navbar-nav>li>a {
    padding: 20px 20px;
    font-size: 15px;
}

.lesson {
    padding-top: 60px;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
}

.search {
    float: right;
}


.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.panel-body form {
    display: inline;
}
.table-responsive form {
    display: inline;
}
.image_size_small {
    height: 50px;
    width: 50px;
}
.follow {
    float: right;
}

.form_follow {
    display: inline-block;
    float: right;
}

.image_size_small {
    height: 50px;
    width: 50px;
}
.follow {
    float: right;
}

.form_follow {
    display: inline-block;
    float: right;
}

.image_size_small {
    height: 50px;
    width: 50px;
}
.follow {
    float: right;
}

.form_follow {
    display: inline-block;
    float: right;
}

.image_size_small {
    height: 50px;
    width: 50px;
}
.follow {
    float: right;
}

.form_follow {
    display: inline-block;
    float: right;
}

.login {
    margin-top: 100px
}
.score {
    font-size: 25px;
}
.category_name {
    padding-left: 40px;
}